/* Universal */
body {
  color: seashell;
  background-color: #404040;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1rem;
}

main {
  position: relative;
  top: 50px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: seashell;
}

a:hover {
  color: #8FC7FF;
}

#canvas-holder {
  width: 100%;
  text-align: center;
}

canvas {
  display: inline;
}

/* Header */
header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 57px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #505050; 
  border-bottom: 3px solid #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

nav {
  max-height: 100%;
}

.home-button {
  padding: 0.85rem;
  font-size: 1.5rem;
}

header a {
  text-decoration: none;
}

.dropdown {
  display: inline-block;
  overflow: hidden;
}

.dropbutton, .navbutton {
  padding: 1.1rem 0;
}

.dropbutton a, .navbutton a{
  padding: 1.1rem 0.5rem;
}

.dropbutton a::after {
  display: inline-block;
  margin-left: 0.3em;
  vertical-align: 0.2em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent; 
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  z-index: 1;
}

.dropdown:hover .dropbutton, .dropdown:hover .navbutton {
  background-color: #707070;
}

.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: #707070;
}

.dropdown-content a:hover {
  background-color: #505050;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Main body */
.intro {
  margin: 0px auto;
  text-align: center;
  border-bottom: 2px solid #202020;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.doggos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.doggos .image-container {
  max-width: 45%;
}

.image-container img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #202020;
  border-radius: 7px;
}

.project-photo {
  float: left;
  margin: 0 0.5rem;
  width: 6rem;
}

canvas {
  margin-bottom: 5rem;
}